/*Starter Template CSS*/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template:h1{
	font-size:75px;
	display:block;
}

p{
	text-align:left;
}

.file_button_container,
.file_button_container input {
   height: 47px;
   width: 263px;
}

.file_button_container {
   background: transparent;
}

.file_button_container input {
   opacity: 0;
}